<header>
    <img class="logo" src="/images/logo.png" alt="logo">
    <div class="busqueda">
        <input class="barra" type="text" placeholder="  ¿Qué estas buscando?"> 
        <button class="lupa"> <i class="fa-solid fa-magnifying-glass"> </i> </button>
    </div>
    <div class="iconos-header">

      <% if (locals.isLogged || locals.adminIsLogged) { %>
        <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i> </a>
        <% }%>
      <% if (locals.isLogged && !locals.adminIsLogged) { %>
        <a href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a> 
        <% }%>

        <%if(!locals.isLogged ){ %>
          <a href="/users/login"> <i class="fa-solid fa-circle-user"></i></a>
          <a href="/users/register"><i class="fa-solid fa-user-plus"></i></a> 
            <%}%>



    </div>
</header>
<nav>
    <a href="/"> INICIO </a>
    <a href="/products/productsPhones"> CELULARES </a>
    <a href="/products/productsInformatica"> INFORMATICA </a>
    <a href="/products/productsAccesorios"> ACCESORIOS </a>
    <a href="/products/productsPrinters"> IMPRESORAS </a>
    <a href="/admin"> ADMIN </a>
</nav>