<header>
    <nav>
        <div class="nav-logo">
            <img src="images/logo.png" alt="" />
        </div>
        <div class="nav-busqueda">
            <div class="busqueda1">
                <div class="input-header">
                    <input type="search" placeholder="¿Qué estas buscando?" class="textinput-header">
                </div>
                <div class="magnifiying">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="busqueda2">
                <a href="/products/productsPhones"><p>Celulares</p></a>
                <a href="/products/productsInformatica"><p>Informatica</p></a>
                <a href="/products/productsAccesorios"><p>Accesorios</p></a>
                <a href="/products/productsPrinters"><p>Impresoras</p></a>
            </div>
            <br><br>
        </div>
        <div class="nav-botones">
            <div class="login">
                <a href="login"><i class="fa-solid fa-circle-user"></i></a>
            </div> 
            <div class="cart">
                <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>   
            </div>
        </div>
    </nav>
</header>