<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main/index.css">
    <title>Document</title>
</head> 
<body>
    <div class="img-slider">
        <div class="slide active">
            <img src="/public/images/carrousel/05.jpg" alt="">
            <div class="info">
                <h2>Slide 01</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, obcaecati. Quaerat dicta totam quod nisi.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/public/images/carrousel/04.jpg" alt="">
            <div class="info">
                <h2>Slide 02</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, obcaecati. Quaerat dicta totam quod nisi.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/public/images/carrousel/03.jpg" alt="">
            <div class="info">
                <h2>Slide 03</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, obcaecati. Quaerat dicta totam quod nisi.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/public/images/carrousel/02.jpg" alt="">
            <div class="info">
                <h2>Slide 04</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, obcaecati. Quaerat dicta totam quod nisi.</p>
            </div>
        </div>
        <div class="slide">
            <img src="/public/images/carrousel/01.jpg" alt="">
            <div class="info">
                <h2>Slide 05</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, obcaecati. Quaerat dicta totam quod nisi.</p>
            </div>
        </div>
        <div class="navigation">
            <div class="btn active"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
        </div>
    </div>
<script src="/public/js/carrousel.js"></script>
</body>
</html>